
// @font-face {
// 	font-family: 'FONTNAME';
// 	src: url('../fonts/FONTNAME.eot');
// 	src: url('../fonts/FONTNAME.woff2') format('woff2'),
//     	 url('../fonts/FONTNAME.woff') format('woff'),
// 	     url('../fonts/FONTNAME.ttf') format('truetype'),
// 	     url('../fonts/FONTNAME.svg#FONTNAME') format('svg'),
// 	     url('../fonts/FONTNAME.eot?#iefix') format('embedded-opentype');
// }
