/** 
 * ---------------------------------
 * ADD THEME SETTINGS HERE
 * ---------------------------------
 */

/** 
 * ---------------------------------
 * ADD FOUNDATION SETTINGS HERE
 * ---------------------------------
 */
 
/** 
 * -------------------------
 * PX TO REM CHEAT SHEET ( WITH 16px BASE )
 * -------------------------
 *
 * 1px = .0625rem
 * 2px = .125rem
 * 3px = .1875rem
 * 4px = .25rem
 * 5px = .3125rem
 * 6px = .375rem
 * 7px = .4375rem
 * 8px = .5rem
 * 9px = .5625rem
 * 10px = .625rem
 * 11px = .6875rem
 * 12px = .75rem
 * 13px = .8125rem
 * 14px = .875rem
 * 15px = .9375rem
 * 16px = 1rem (base)
 * 18px = 1.125rem
 * 20px = 1.25rem
 * 22px = 1.375rem
 * 24px = 1.5rem
 * 26px = 1.625rem
 * 28px = 1.75rem
 * 30px = 1.875rem
 * 32px = 2rem
 * 34px = 2.125rem
 * 36px = 2.25rem
 * 38px = 2.375rem
 * 40px = 2.5rem
 * 42px = 2.625rem
 * 46px = 2.875rem
 * 48px = 3rem
 * 50px = 3.125rem
 * 64px = 4rem
 * 72px = 4.5rem
 * 80px = 5rem
 * 92px = 5.75rem
 * 96px = 6rem
 * 120px = 7.5rem
 * 128px = 8rem 
 */
